{
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".ios.js", ".android.js"]
    }],
    ["@babel/plugin-proposal-export-namespace-from"]
  ]
}